<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	
  	
  	<link rel="stylesheet"  href="../static/css/test.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=SF Pro Text:wght@600&display=swap" />
	  <title>Test Gaya Belajar</title>
  	
  	
</head>
<body>
	<div class="wrapper">
		<div class="form-wrapper sign-in">
			<form action="/test" method="POST">
				<h2>Start testing your learning style</h2>
			<div class="input-group">
				<input type="text" name="name" required>
			  <label for="">Name</label>
			</div>
			<div class="input-group">
				<input type="text" name="npm" required>
			  <label for="">NPM</label>
			</div>
			<button type="submit" id="NextPagesStart">Mulai</button>
			</form>
    </div>
  </div>
</body>
</html>