/* Reset default browser styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-inline-size: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    align-items: center;
    margin-block-end: 15px;
}

input[type="radio"] {
    margin-inline-end: 10px; /* Jarak antara radio button dan teks */
}

label {
    flex: 1; /* Label mengambil sisa ruang */
}

input[type="text"],
input[type="number"],
textarea,
select {
    inline-size: 30%;
    padding: 10px;
    margin-block-end: 10px;
    border: 1px solid #040741;
    border-radius: 4px;
    box-sizing: border-box; /* Tambahkan agar padding tidak menambah lebar elemen */
}

button {
    display: block;
    inline-size: 15%;
    margin-block-start: 20px;
    background-color: #08123a;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #031752;
}

.question {
    margin-block-end: 15px;
    font-weight: normal; /* Atur teks pertanyaan menjadi tidak bold */
}

/* Responsiveness */
@media (max-width: 600px) {
    .radio-label {
        display: block;
        max-inline-size: 100%;
    }
}


